@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
}
.Container1{
    margin: 0 auto;
    max-width: 900px;
}
h1, h2, h3{

  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 2px 2px;
}
h2{
    padding-top: 10px;
}


header, footer{
    background-color: rgb(197, 66, 143);
    padding: .75rem;
    margin: 0 auto;
    text-align: center;  
}
#outputDiv{
 
    font-size: 14px;
}
main {
    padding: 5px;
   
    margin: 0 auto;
    display: grid;
    font-size: 0.8rem;
   
}

img{
    margin: 5px 5px 5px 5px;
    border-style: solid;
    width: 275px;
    height: auto;
}
p{
    margin: 2px 2px;
}
a {
    margin: 0px 10px;
}
